<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
</head>

body {
  background-color: white;
  font-family: 'Pacifico', cursive;
}
h1 {
  text-align: center;
  font-size: 100px;
}
 
